#nav{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

#register_Container{
  display: flex;
  justify-content: center;
}



* {
  user-select: none;
}

#form_L{
  display: flex;
  justify-content: center;
}

#TaskContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

